@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.app-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
                "navbar" 
                "home"
                "about"
                "experience"
                "recommendations"
                "footer";
}
#navbar{
    grid-area: navbar;
}
#app-home{
    grid-area: home;
    height: 73.5vh;
}
#app-about{
    grid-area: about;
    height: 85vh;
}
#experience{
    grid-area: experience;
    min-height: 75vh;
}
#recomendations{
    grid-area: recommendations;
    height: 100vh;
}
#footer{
    grid-area: footer;
    height: 7vh;
}

.section-title{
    border-bottom: 3px solid steelblue;
    color: black;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    max-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%) }

::-webkit-scrollbar{
    background-color: #272b33;
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: steelblue;
    border-radius: 100vw;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 850px) {
    .app-wrapper{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
                    "navbar" 
                    "about"
                    "experience"
                    "recommendations"
                    "footer";
    }
    #navbar{
        display: none;
    }
    #app-home{
        display: none;
    }
    #app-about{
        grid-area: about;
        height: fit-content;
    }
    #experience{
        min-height: 100vh;
    }
}

@media only screen and (max-width: 450px) {
    #experience{
        min-height: 120vh;
    }
}
@media only screen and (max-width: 650px) {
    #experience{
        min-height: 160vh;
    }
}


